.input-group{
    width: 160px;
}

.navigation{
    text-decoration: none;
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
}

.navbar{
    background-color: #ab6934;
}

.navbar-brand{
    font-family: "Sofia", sans-serif;
    font-size: 20px;
}

.table-cart td{
    vertical-align: middle;
}

.checkout-form label{
    font-size: 14px;
    font-weight: 700;
}

.checkout-form input{
    font-size: 15px;
    padding: 5px;
    font-weight: 400;
}

.order-details label{
    font-size: 14px;
    font-weight: 700;
}

.order-details div{
    font-size: 14px;
    padding: 5px;
}

.img_order_view {
    width: 50px;
}

.login-card {
    margin-top: 100px !important;
}
